.App {
  text-align: center;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-card {
  border: 1px solid #1100ff;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
  background-color: #2a4400;
}

.character-card img {
  width: 100%;
  border-radius: 8px;
}

.filters {
  margin-bottom: 20px;
}

select {
  margin: 0 5px;
  padding: 5px;
  border-radius: 4px;
}
h1 {
  font-family: Arial, sans-serif; 
  font-size: 2.5rem;  
  color: #00ff00;  
  text-align: center;  
  margin-top: 20px;


  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.filters select {
  padding: 8px 12px;
  font-size: 1rem;
  border: 2px solid #00ff00;
  border-radius: 8px;
  background-color: #222;
  color: #00ff00;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.filters select:hover {
  background-color: #333;
  transform: scale(1.05);
}

